@font-face {
  font-family: Oswald;
  src: url(fonts/Oswald/Oswald-VariableFont_wght.ttf);
}

@font-face {
  font-family: Roboto;
  src: url(fonts/Roboto/Roboto-Medium.ttf);
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none;
}

/* HEADER, LOGO, NAV */

header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 79.95em;
  height: 7em;  
  margin-top: -1em;
  background: #000;
}

img{
  width: 5em;
  height: 5em;
}

#logo{
  padding-top: 1em;
}

nav{
  display: flex;
}

ul{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
}

.home{
  height: 1em;

  font-family: Oswald;
  font-style: normal;
  font-weight: normal;
  font-size: 3em;

  color: #FFFFFF;
  text-decoration: none;
}

#x{
  border-bottom: 2px solid #F93943;
  padding-left: 2px;
}

li {
  margin: 2em;
}

.mis-Proy{
  width: 287px;
  height: 71px;
  left: 530px;
  top: 19px;

  font-family: Oswald;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 71px;

  color: #FFFFFF;
  text-decoration: none;
}

.sobre-Mi{
  width: 173px;
  height: 71px;
  left: 914px;
  top: 19px;

  font-family: Oswald;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 71px;

  color: #FFFFFF;
  text-decoration: none;
}

.contacto{
  width: 191px;
  height: 71px;
  left: 1184px;
  top: 19px;

  font-family: Oswald;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 71px;

  color: #FFFFFF;
  text-decoration: none;
}

/* BODY, MAIN, MAIN TEXT */

body{
  background-color: #0A0A0A;
}

main{
  display: flex;
  justify-content: center;
  margin-top: 5em;
}

#main-text {
  width: 30em;
  height: 9.5em;
  left: 113px;
  top: 232px;

  
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 38px;
  line-height: 56px;
  
  color: #FFFFFF;
  text-shadow: -1px 0 rgba(249, 57, 67, 0.4), 0 1px rgba(249, 57, 67, 0.4),
   1px 0 rgba(249, 57, 67, 0.4), 0 -1px rgba(249, 57, 67, 0.4);
  
  padding: 15px 15px;

  background: #0A0A0A;
  border: 3px solid #F93943;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#boton{
  display: flex;
  width: 278px;
  height: 64px;
  margin-top: 30px;
  

  font-family: Oswald;
  font-style: normal;
  font-weight: normal;
  font-size: 42px;
  line-height: 62px;
  justify-content: center;

  border: none;

  background: #F93943;
}

#boton:active{
  background-color: #FFFFFF;
}

/* FOOOTER, COLORES, FUENTES */

footer{
  display: flex;
  flex-direction: row;
  background-color: #000;
  width: 79.95em;
  height: 10em;
  margin: 7em 0 0 0;
  bottom: -10px;
}

footer div:nth-child(1){
  justify-content: center;
  width: 25%;
  height: calc(100% - 2px);

  align-items: center;
  margin-left: 1em;
  padding: 5px;

  color: #FFFFFF;
  font-family: Roboto;
  font-size: 1.3em;
}

#colores{
  width: 25%;
  height: calc(100% + 8px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #FFFFFF;

  font-family: Roboto;
}

#red-salsa{
  background-color: #F93943;
}

#blacks{
  border: white 1px solid;
}

#white{
  color: #000;
  background-color: white;
}

#fuentes{
  width: 19.95em;
  height: calc(100% + 8px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #FFFFFF;
}

#fuentes h2, #rob-reg, #rob-bold{
  font-family: Roboto;
}

#osw-reg{
  font-family: Oswald;
}

#rob-bold{
  font-weight: bold;
}

footer div:nth-child(4){
  width: 25%;
  color: #FFFFFF;
  font-size: 1em;
  font-family: Roboto;
  padding: 5px;
}


